@using MyProject.DTOs.TicketDTOs

@model TicketToListDTO
    <link rel="stylesheet" href="~/css/ticket.css" />

        <div class="body">
    <div class="box">
  <ul class="left">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
  <ul class="right">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="ticket">
    <span class="airline">LCD Airlines</span>
    <span class="airline airlineslip">LCD Airlines</span>
    <span class="boarding">Boarding pass</span>
    <div class="content">
      <span class="jfk">SYD</span>
      <span class="plane"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
      <span class="sfo">OOL</span>
      
      <span class="jfk jfkslip">SYD</span>
      <span class="plane planeslip"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="50" width="50" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
      <span class="sfo sfoslip">OOL</span>
      <div class="sub-content">
        <span class="watermark">LCD LCD</span>
        <span class="name">PASSENGER<br><span>@Model.NameSurname</span></span>
        <span class="flight">FROM CITY<br><span>@Model.FromCityName</span></span>
        <span class="gate">TO CITY<br><span>@Model.ToCityName</span></span>
        <span class="seat">PRICE<br><span>@Model.Price AZN</span></span>
        <span class="boardingtime">BOARDING TIME<br><span>@Model.Datetime</span></span>
            
         <span class="name nameslip">PASSENGER<br><span>@Model.NameSurname</span></span>
         <span class="flight flightslip">Seat No<br><span>@Model.SeatNumber</span></span>
         <span class="seat seatslip">PRICE<br><span>@Model.Price AZN</span></span>
      </div>
    </div>
    <div class="barcode"></div>
    <div class="barcode slip"></div>
  </div>
</div>
</div>
