@using MyProject.DTOs.UserDTOs
@model UserToAddDTO

<html>
<head>
    <link rel="stylesheet" href="~/css/login.css" >    
</head>
<body>
    <div class="body">
	<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <form class="login" asp-controller="User" asp-action="Login" method="post">
                            <div class="group"> <label for="user" class="label">Username</label> <br />
                                <input id="user" name="username" type="text" class="input" asp-for="@Model.UserName" placeholder="Enter your username">
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            <div class="group"> <label for="pass" class="label">Password</label><br />
                                <input id="pass" name="password" type="password" class="input" asp-for="@Model.Password" data-type="password" placeholder="Enter your password"> 
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <a href="">Forgot Password?</a> </div>
                        </form>
                        <form class="sign-up-form" asp-controller="User" asp-action="Registr" method="post" >
                            <div class="group">
                                <label for="user" class="label">Username</label><br />
                                <input id="user" type="text" class="input" asp-for="@Model.UserName" placeholder="Create your Username">
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="group"> 
                                <label for="pass" class="label">Password</label> <br />
                                <input id="pass" type="password" class="input" asp-for="@Model.Password" data-type="password" placeholder="Create your password">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="group"> <label for="pass" class="label">Security Code</label><br /> <input id="scode" type="scode" class="input" asp-for="SecurityCode" data-type="scode" placeholder="Create security code"> </div>
                            <div class="group"> <input type="submit"  class="button" value="Sign Up"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>